.container{
    width: 90%;
    margin: 0 auto;
}

.u-centered{
    text-align: center;
}

.u-mary-big{margin: 6rem 0;}
.u-mary-medium{margin: 4rem 0;}
.u-mary-small{margin: 2rem 0;}

.u-pady-big{padding: 6rem 0;}
.u-pady-medium{padding: 4rem 0;}
.u-pady-small{padding: 2rem 0;}

.u-marbot-big{margin-bottom: 6rem;}
.u-marbot-medium{margin-bottom: 4rem;}
.u-marbot-small{margin-bottom: 2rem;}

.u-padbot-big{padding-bottom: 6rem;}
.u-padbot-medium{padding-bottom: 4rem;}
.u-padbot-small{padding-bottom: 2rem;}

.icon{
    width: 2rem;
    height: 2rem;
}